.leaveRate {
  display: inline-flex; align-items: center; justify-content: flex-start;
  cursor: pointer;

  li {
    margin-right: 2px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.icon {
  color: #e2e2e2;
  pointer-events: none;
}

:global {
  @for $i1 from 1 through 5 {
    .rate-#{$i1} {
      @for $i2 from 1 through $i1 {
        & li:nth-child(#{$i2}) i {
          color: #f2a654 !important;
        }
      }
    }
  }
}
