@import '../variables.scss';

.wrFooter {
  padding: 27px 0; position: fixed; left: 0; bottom: 0; width: 100%; z-index: 1; height: 122px;
  background: #fafafa;

  :global(.night) & {
    background: #161616;
  }
  :global(.day) & {
    background: #f7f7f7;
  }
}

.footer {
	display: flex; align-items: center; flex-direction: column;
}
