@import '../mixins.scss';
@import '../variables.scss';

.leaveTesti {
	padding: 40px 0px 0; display: flex; align-items: center; justify-content: center; position: relative;
	transition: height 0.42s ease;

	h2 {
		color: #232935; font-size: 24px; font-family: $m-r; line-height: 30px;
		margin-bottom: 25px;
	}

	section {
		display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap; margin-bottom: 20px;

		.form {
			&Input,
			&Textarea {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

        label {
    			color: #232935; font-size: 16px; font-family: $os-b; line-height: 20px;
    			margin-bottom: 5px; display: block;

					:global(.night) & {
						color: #dadada;
					}
    		}

    		input, textarea {
    			color: #161616; font-size: 14px; font-family: $os-r; line-height: 18px;
    			width: 100%; padding: 8px 10px; display: block;
					border: solid 1px #e2e2e2; border-radius: 4px;

					&:-webkit-autofill,
					&:-webkit-autofill:hover,
					&:-webkit-autofill:focus,
					&:-webkit-autofill:active  {
						-webkit-text-fill-color: #161616;
						box-shadow: inset 0 0 0 50px #fff;
					}

					:global(.night) & {
						color: #dadada;
						background: #161616; border-color: #0f0f0f;

						&:-webkit-autofill,
						&:-webkit-autofill:hover,
						&:-webkit-autofill:focus,
						&:-webkit-autofill:active  {
							-webkit-text-fill-color: #dadada;
							box-shadow: inset 0 0 0 50px #161616;
						}
					}
    		}

    		textarea {
    			min-height: 80px;
    		}

    		p {
    			color: $main; font-size: 14px; font-family: $m-sb; line-height: 18px;
    			padding-top: 5px;
					@include themeText()
    		}
			}

			&Input {
				width: calc(50% - 10px);

				@include respond-to(xs) {
					width: 100%;
				}
			}

			&Textarea {
				width: 100%;
			}
		}
	}
}

.form {
	position: relative;
	transition: transform 0.42s ease, opacity 0.42s ease;
	&Hide {
		position: absolute; left: 0; width: 100%; top: 50%; transform: translateY(-50%) scale(0.4);
		opacity: 0; pointer-events: none;
	}
}

.sended {
	position: absolute; transform: scale(0.4);
	opacity: 0; pointer-events: none;

	&Show {
		position: relative; opacity: 1; transform: scale(1);
		pointer-events: auto;
		transition: transform 0.42s 0.42s ease, opacity 0.42s 0.42s ease;
	}
	&Text {
		color: #161616;
		font-size: 20px;
		font-family: $m-r;
		line-height: 26px;
	}
}
