.if {
  font-family: 'icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow-left:before {
  content: "\e912";
}
.sun:before {
  content: "\e911";
}
.moon:before {
  content: "\e913";
}
.chevron-right:before {
  content: "\e914";
}
.arrow-right:before {
  content: "\e915";
}
.check-circle:before {
  content: "\e910";
}
.arrow-down:before {
  content: "\e900";
}
.arrow-up:before {
  content: "\e901";
}
.arrow-up-alt:before {
  content: "\e902";
}
.calendar:before {
  content: "\e903";
}
.credit-card:before {
  content: "\e904";
}
.edit:before {
  content: "\e905";
}
.gripfire:before {
  content: "\e906";
}
.marker:before {
  content: "\e907";
}
.money:before {
  content: "\e908";
}
.percent:before {
  content: "\e909";
}
.quote-left:before {
  content: "\e90a";
}
.quote-right:before {
  content: "\e90b";
}
.star:before {
  content: "\e90c";
}
.times:before {
  content: "\e90d";
}
.upload:before {
  content: "\e90e";
}
.close:before {
  content: "\e90f";
}
